<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/img/Report.ico" type="image/x-icon">
</head>
<body class="main-body">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/" st>На главную</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Books/bookList/">Список<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UserLibrary/BooksList/">Выбранное</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">#</a>
                    </li>
                </ul>
               @if (ViewBag.User != null) {
                    <div class="form-inline mt-2 mt-md-0">
                        @Html.Partial("UserCard", (User)ViewBag.User);
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
